@import "../_variables/variables";
@import "../_variables/mixins";

.pagination-list {
    display: flex;
    justify-content: space-between;

    &__item {
        color: $color3;
        font-family: "Inter", sans-serif;
        font-size: 14px;
        line-height: 23px;
    }

    li img {
        cursor: pointer;
    }

    li:last-child img {
        rotate: 180deg;
    }

    .pagination-list-item-hidden {
        @include _576 {
            display: none;
        }
    }
}
