@import "../_variables/variables";
@import "../_variables/mixins";

.about-landing {
    margin: 120px 0 0 0;

    &__header {
        font-size: 40px;
        font-weight: 500;
        line-height: 150%;
        color: $white;

        @include _768 {
            font-size: 32px;
        }

        @include _480 {
            font-size: 28px;
        }
    }
}

.about-landing-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.about-landing-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60%;

    @include _1000 {
        width: 100%;
    }

    &__text {
        color: $white;
        text-align: center;
        font-size: 18px;
        line-height: normal;
    }
}
