@import "../_variables/variables";
@import "../_variables/mixins";

.our-services {
    margin: 110px 0 0 0;

    @include _768 {
        margin: 150px 0 0 0;
    }

    @include _480 {
        margin: 100px 0 0 0;
    }

    &__header {
        color: $color4;
        font-size: 40px;
        font-weight: 600;
        line-height: normal;

        @include _768 {
            font-size: 32px;
        }

        @include _480 {
            font-size: 28px;
        }
    }
}

.our-services-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.services-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: $color1;
}

/* .services-links > :nth-child(3) {
    @include _480 {
        height: 206px;
        position: relative;
    }
} */

.service-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    background: #358cec;
    box-shadow: 0px 4px 30px 0px rgba(146, 168, 201, 0.2);
    border: 2px solid $color8;
    padding: 30px;

    @include _480 {
        padding: 30px 20px;
    }

    &__button {
        display: flex;
        align-items: center;
    }

    &__button img {
        @include _480 {
            width: 40px;
        }
    }
}

.service-link-block {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &--480 {
        @include _480 {
            height: 216px;
            position: relative;
        }
    }

    &__text {
        width: calc(100% - 120px);
        color: $color6;
        font-family: "Onest", sans-serif;
        font-size: 18px;
        line-height: 120%;

        @include _768 {
            width: calc(100% - 20px);
        }

        @include _480 {
            font-size: 16px;
        }
    }

    &__soon {
        color: $color1;
        font-family: "Onest", sans-serif;
        font-size: 24px;
        line-height: 120%;
        border-radius: 16px;
        background: $color7;
        padding: 10px 15px;
        text-align: center;
        width: 401px;

        @include _1000 {
            width: 320px;
            padding: 10px;
            font-size: 20px;
        }

        @include _768 {
            font-size: 16px;
            width: 260px;
        }

        @include _480 {
            width: 280px;
            position: absolute;
            bottom: 0;
        }
    }

    &__button {
        width: 250px;
        display: flex;
        align-items: center;
        gap: 10px;
        color: $color7;
        font-family: "Onest", sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 120%;
    }

    &__button span {
        font-size: 18px;
    }
}

.service-link-block-heading {
    display: flex;
    align-items: center;
    gap: 10px;

    &__header {
        color: $color4;
        font-size: 24px;
        font-weight: 600;
        line-height: normal;

        @include _480 {
            font-size: 18px;
        }
    }
}
