@import "../_variables/variables";
@import "../_variables/mixins";

.library {
    flex-direction: column;
    flex: 1 1 auto;
}

.library-wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 50px 0 110px 0;
}

.library-heading-block {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include _576 {
        flex-direction: column;
        gap: 20px;
    }

    &__header {
        color: $color2;
        font-size: 40px;
        font-weight: 500;

        @include _576 {
            font-size: 32px;
        }
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 175px;
        height: 48px;
        border-radius: 10px;
        background: $color1;
        color: $color4;
        font-size: 14px;
        padding: 10px;

        @include _576 {
            width: 100%;
        }
    }
}

.library-list-books {
    display: grid;
    grid-template-columns: repeat(auto-fill, 255px);
    justify-content: space-between;
    gap: 50px 30px;

    @include _1000 {
        gap: 50px 20px;
        grid-template-columns: repeat(auto-fill, 210px);
    }

    @include _480 {
        grid-template-columns: repeat(auto-fill, 160px);
    }
}

.library-list-books-book {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    width: 255px;

    @include _1440 {
        width: 215px;
    }

    @include _576 {
        width: 210px;
    }

    @include _480 {
        width: 160px;
    }

    &__button {
        position: absolute;
        border-radius: 6px;
        background: rgba(255, 255, 255, 0.5);
        padding: 10px;
        width: 44px;
        height: 44px;
        top: 12px;
        right: 12px;
        cursor: pointer;

        &:hover {
            background: rgba(255, 255, 255, 1);
        }
    }

    &__image {
        width: 255px;
        height: 380px;
        object-fit: cover;

        @include _1440 {
            width: 215px;
            height: 320px;
        }

        @include _576 {
            width: 210px;
        }

        @include _480 {
            width: 160px;
            height: 235px;
        }
    }
}

.library-list-books-book-block {
    display: flex;
    flex-direction: column;
    gap: 2px;

    &__name {
        font-family: "Onest", sans-serif;
        font-size: 18px;
        line-height: 120%;
        color: $color2;

        @include _480 {
            font-size: 16px;
        }
    }

    &__author {
        font-family: "Onest", sans-serif;
        font-size: 14px;
        line-height: 150%;
        color: $color3;

        @include _480 {
            font-size: 12px;
        }
    }
}
