@import "../_variables/variables";
@import "../_variables/mixins";

.header-blue {
    background: $color1;
}

.header-blue-wrapper {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-blue-logo {
    display: flex;
    align-items: center;
    gap: 10px;

    &__text {
        font-family: "Gilory", sans-serif;
        font-size: 24px;
        font-weight: 500;
        color: $white;

        @include _480 {
            font-size: 16px;
        }
    }
}

.header-blue-nav {
    display: flex;
    gap: 35px;

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 124px;
        height: 48px;
        background: $color7;
        border-radius: 10px;
        color: $color2;
    }
}

.header-blue-nav-list {
    display: flex;
    align-items: center;
    gap: 40px;

    @include _768 {
        display: none;
    }

    &__link {
        color: $white;
    }
}

.header-blue-nav-list li {
    display: flex;
    align-items: center;
    gap: 5px;
}
