@import "../_variables/variables";

.connection {
    margin: 0 0 110px 0;
}

.connection-wrapper {
    height: 379px;
    display: flex;
    gap: 30px;
}

.connection-contacts {
    min-width: 365px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background: $white;
    padding: 30px 40px;
    line-height: normal;

    &__social {
        display: flex;
        gap: 20px;
    }
}

.connection-contacts-phone {
    display: flex;
    flex-direction: column;
    gap: 10px;
    line-height: normal;
}

.connection-contact-form {
    min-width: 575px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 30px;
    background: $color2;
    box-shadow: 0px 4px 30px 0px rgba(146, 168, 201, 0.2);

    &__header {
        color: $color4;
    }
}

.form-fields {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__textarea {
        height: 48px;
        padding: 10px 15px;
        font-family: "Rubik", sans-serif;
        font-size: 14px;
        outline: none;
    }

    &__submit {
        height: 48px;
        background: $color1;
        border: none;
        color: $white;
        cursor: pointer;
    }
}

.form-fields-block {
    display: flex;
    gap: 20px;

    &__input {
        width: 245px;
    }
}
