@import "../_variables/variables";
@import "../_variables/mixins";

.footer {
    background: $color2;
    padding: 23px 0;
}

.footer-wrapper {
    height: 111px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include _1000 {
        justify-content: center;
    }
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-logo-block {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__text {
        font-family: "Onest", sans-serif;
        font-size: 16px;
        line-height: normal;
        color: $color5;

        @include _576 {
            font-size: 14px;
        }
    }
}

.footer-social {
    display: flex;
    gap: 20px;

    @include _1000 {
        display: none;
    }
}
